
table {
    background-color: #eee;
}
td {
    width :100px;
    height:100px;
    text-align: center;
    vertical-align: center;
    background-color: #eee;
}

.water {
    background-image: url("images/tile-blank.jpg");
}
.water:before {
    content:"w";
}

.grass {
    background-image: url("images/tile-blank.jpg");
}
.grass:before {
    content:"g";
}

.sand {
    background-image: url("images/tile-blank.jpg");
}
.sand:before {
    content:"sn";
}
.rocks {
    background-image: url("images/tile-blank.jpg");
}
.rocks:before {
    content:"r";
}
.mountains {
    background-image: url("images/tile-blank.jpg");
}

.mountains:before {
    content:"m";
}

.dirt {
    background-image: url("images/tile-blank.jpg");
}
.dirt:before {
    content:"d";
}

.forest {
    background-image: url("images/tile-blank.jpg");
}
.forest:before {
    content:"f";
}
.snow {
    background-image: url("images/tile-blank.jpg");
}
.snow:before {
    content:"sn";
}
.ice {
    background-image: url("images/tile-blank.jpg");
}
.ice:before {
    content:"i";
}
